#weather-ul {
    list-style: none;
    display: inline-block;
    text-align: left;
  padding: 0;
}

.weather-type {
    color: blue;
}

#displayweather-div {
    display:inline-grid;
    grid-template-columns: 50% 50%;
    gap:0.5em
}
#conditions{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap:0.5em
}