#add-post-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 0.5em;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
}