h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(91, 14, 159);
  margin: 0;
}

#users-header,#post-header {
  position: absolute;
  background-color: rgb(132, 220, 247);
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5em;
}

h2 {
  margin: 0;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

.main-ul {
  color: rgb(91, 14, 159);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 85px;
}
#main-users-ul{
  margin-top: 85px;
}
.user-li {
  cursor: pointer;
}

.user-li,
.post-li {
  border: 1px solid black;
  padding: 10px;
}

.user-li:hover,
.post-li:hover {
  background-color: rgb(167, 232, 211);
  color: black;
}

.user-li span,
.comment-ul span {
  font-weight: bolder;
  color: rgb(18, 4, 79);
}

#posts-div {
  display: none;
  position: absolute;
  padding: 0.5em;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

#post-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  background-color: rgb(132, 220, 247);
  z-index: 1;
}
#post-header h1{
  grid-column: 1/3;
}
#post-header button{
  justify-self: end;
  align-self: end;
}

.post-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

.post-li button {
  align-self: center;
}

#Comments-div {
  position: relative;
  height: 0px;
  left: 0;
  right: 0;
}

#Comments-div h3 {
  margin: 0;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background-color: rgb(124, 203, 179);
}

#main-comment-ul {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0.5em;
  background-color: rgb(159, 217, 200);

}

#Comments-div .comment-ul {
  border: 1px solid black;
  padding: 0.2em;
  margin-bottom: 0.2em;
}

.comment-ul:hover {
  background-color: rgb(29, 199, 145);
  color: black;
}

@media screen and (min-width:600px) {
  .main-ul {
    grid-template-columns: 1fr 1fr;
  }

}