@import url(normalize.css);

html{
   background: #ffa852;
background: radial-gradient(circle, rgba(255, 168, 82, 1) 0%, rgba(191, 148, 88, 1) 100%);
 line-height: 1.75;
}
body{
margin:auto;
}
h2{
    font-size: 2em;
   background-color:rgba(189, 124, 45,1);
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
}
.h1stuff{
     position: fixed;
    width: 100%;
    max-height: 90px;;
   background-color:rgba(189, 124, 45,1);
   top:0;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}
.h1icon1,.h1icon2{
    width: 50px;
    position:absolute;
    border-radius: 20px;
}
.h1icon1{
    right:90%;
    top: 25%;
}
.h1icon2{
    left:90%;
    top: 25%;
}
nav{
 font-size: 2em;
 opacity: 0.9;
margin: auto;
margin-top:80px;
 width: 350px;
 text-align: center;
}
header{
    text-align: center;
}
a{
    
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(99, 58, 9);
}
 @media(width <= 371px){
        h1{
        opacity: 0;
        }
        .h1icon1{
          opacity: 0;
        }
        .h1icon2{
           left: 0px; 
          right: 0px;
         margin: auto ;
        }
      }

