body{
  text-align: center;
}
#header{
  border-bottom: 1px solid rgb(31, 29, 29);
  background-color: rgb(235, 204, 52);
  padding: 1em;
}
nav{
  font-size: 2em;
 
}
a{
   color: black;
  text-decoration: none;
}
.active{
  text-decoration: underline;
}