html,body,#root{
  width:100%;
  height: 100%;
  margin: 0;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
#calcu{
  background-color: grey;
  width: 300px;
  height: 300px;
  padding: 1em;
}
#window{
  width: 95%;
  height: 15%;
  margin: auto;
  background-color: white;
  margin-bottom: 1em;
  text-align: right;
 font-weight: bolder;
 font-size: 2em;
}
#button-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
#button-div button{
padding-bottom: 1em;
margin-bottom: 1em;
}
